@import '../../../styles/settings.scss';

section{
    background-color: $color-light;
    padding: 10px;
  }
  
  .navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .icon a {
    font-size: 30px;
    color: $color-dark;
    text-decoration: none;
    font-family: $font-text;
    font-weight: 500;
    position: relative;
  }
  
  .icon a::after {
    content: '';
    display: block;
    width: 50%; 
    height: 2px; 
    background-color: $color-success; 
    position: absolute; 
    bottom: -3px; 
    left: 25%; 
  }

  
  .list ul {
    padding: 0;
    margin: 0;
  }
  
  .list ul li{
    display: inline-block;
    text-align: center;
    font-family: $font-text;
    font-size: 16px;
    padding: 0 10px;
    margin: 8px;
      & a {
          text-decoration: none;
          list-style: none;
          color: $color-dark;
          
      }
      & .linkActive {
        color: $color-success;
      }
  }